nav,
header,
footer,
body,
section {
    display: block;
}


body {
    background: url(thumb-1920-113596.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    overflow-x: hidden;





}


.row {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 32px;
    justify-content: center;
    font-family: 'Slabo 27px', serif;

}

body button {
    display: flex;
    justify-content: center;
    text-transform: uppercase;

}

div.text-center {
    margin-top: 400px;
}

section .btn {
    display: flex;
    justify-content: center;
    margin-left: 45%;
}

section .btn-primary {
    display: flex;
    justify-content: center;
}

footer div {
    color: #ffffff;
}
